
fastapi
langchain
langchain-groq
pydantic
pinecone # Correct name for Pinecone
python-docx
python-dotenv
python-magic # Use this if you're on Windows; otherwise use python-magic + libmagic on Linux
requests
sentence-transformers
pdfplumber
uvicorn
docx2txt
